body{
    font-family:'Poppins', sans-serif;
}
#banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.banner_text{
    text-align: center;
}
.banner_text h1{
    color: white;
    font-size: 50px;
}
.banner_text p{
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 0 395px;
    margin-bottom: 60px;
}
.btn{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: tomato;
    padding: 10px 10px;
    border-radius: 5px;
}

#donate_amount{
    text-align: center;
    margin-top: 80px;
}
.donate_amount_text h2{
    font-size: 40px;
}
.donate_amount_text p{
    font-size: 17px;
    padding: 0 395px;
    margin-bottom: 60px;
    color: grey;
}
.donate_amount_number{
    width: 750px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
}
.donate_amount_number h3{
    font-size: 30px;
    color: gray;
    background-color: aliceblue;
    padding: 20px 20px;
}
.donate_amount_number .amount_color{
    background-color: rgba(253, 204, 196, 0.836);
    color: tomato;
    border: 2px solid tomato;
    border-radius: 3px;
}
.type_amount {
    padding-bottom: 50px;
}
.type_amount input{
    color: gray;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid gray;
    width: 750px;
    text-align: center;
}

#donation_plan{
    margin-top: 90px;
}
.donation_header_text{
    text-align: center;
}
.donation_header_text h2{
    font-size: 40px;
}
.donation_header_text p{
    font-size: 17px;
    color: gray;
    padding: 0 395px;
    margin-bottom: 60px;
}
.donate_plan_box{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.food{
    background-color: rgb(199, 239, 255);
    width: 340px;
    padding: 30px 0;
    text-align: left;
}
.Shelter{
    background-color: rgb(255, 254, 187);
    width: 340px;
    padding: 30px 0;
    text-align: left;
}
.Education{
    background-color: rgb(215, 255, 142);
    width: 340px;
    padding: 30px 0;
    text-align: left;
}
.plan_box img, h3, p{
    margin-left: 20px;
}

#donate_blog{
    margin-top: 100px;
    background-color: rgba(194, 255, 247, 0.836);
    width: 100%;
    padding: 70px 0;
}
.main_donate_blog{
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.blog_img img{
    width: 100%;
}
.blog_text{
    width: 70%;
    height: 360px;
    margin-left: 40px;
}
.blog_text p{
    padding: 30px 0;
    color: gray;
    font-size: 17px;
}
.blog_text a{
    margin-left: 25px;
}

#get_updates{
    margin-top: 80px;
}
.updates_head_text{
    text-align: center;
}
.updates_head_text h2{
    font-size: 40px;
}
.updates_head_text p{
    color: gray;
    font-size: 17px;
    margin-bottom: 30px;
}
.mail_box{
    text-align: center;
    background-color: rgba(255, 203, 196, 0.856);
    width: 750px;
    padding: 50px 0;
    margin: 0 auto;
}
.mail_box input{
    background-color: rgb(236, 236, 236);
    width: 260px;
    height: 50px;
    border-radius: 5px;
    font-size: 17px;
    color: gray;
    border: none;
}
.mail_box a{
    margin-left: -10px;
}

footer{
    background-color: black;
    width: 100%;
    height: 150px;
    margin-top: 100px;
    text-align: center;
}
footer h2{
    color: tomato;
    font-size: 30px;
    padding-top: 20px;
    font-family: 'Lobster', cursive;
}
footer p{
    color: gray;
    font-size: 17px;
    margin-left: -10px;
}